title: Introduction to React
description: In this course, you will learn the basics of React.js through building a gradebook web application to manage assignments, students, and grades.
template:
  name: intro-react
  repo: react-template
  description: 'A robot powered training repository :robot:'
before:
  - type: createIssue
    title: Welcome to React
    body: 00_setup.md
    comments:
      - 00_open-pr.md
  - type: updateBranchProtection

steps:

  # Step 1: User opens a pull request after cloning and validating Node is installed
  - title: Open a pull request
    description: Welcome to React! Let's get started with our project.
    event: pull_request.opened
    link: '{{ repoUrl }}/issues/1'
    video: https://www.youtube.com/embed/RlDJqryBkkI
    actions:
      - type: closeIssue
        issue: Welcome to React
      - type: respond
        with: 01_components.md
        issue: Changes
      - type: createPullRequestComment
        body: 01_header-component-activity.md
        file: src/App.jsx
        position: 85

  # Step 2: User adds a header component
  - title: Add a header component
    description: Give your app a title by adding a header component
    event: push
    link: '{{ repoUrl }}/issues/2'
    video: https://www.youtube.com/embed/aBZ6vaPpNS4
    actions:
      - type: gate
        left: '%payload.ref%'
        operator: ===
        right: refs/heads/changes
      - type: getPullRequest
        pullRequest: Changes
        action_id: metaPR2
      - type: getFileContents
        action_id: fileContents
        filename: 'src/App.jsx'
      - type: gate
        left: '/^\s*<\s*h3\s*className\s*=\s*"\s*Box-title\s*d-flex\s*flex-justify-center\s*"\s*>\s*GradeBook\s*<\s*\/\s*h3\s*>/gm'     
        operator: test
        right: '%actions.fileContents%'
        else:
          - type: respond
            with: 02_bad-header.md
            issue: Changes
      - type: respond
        with: 02_props.md
        issue: Changes
      - type: createPullRequestComment
        body: 02_import-child-component-activity.md
        file: src/App.jsx
        position: 3
        pullRequest: '%actions.metaPR2.data.number%'

  # Step 3: User makes changes to import a child component
  - title: Import a child component
    description: Import a child component into its parent
    event: push
    link: '{{ repoUrl }}/issues/2'
    video: https://www.youtube.com/embed/NXnI05i5TI8
    actions:
      - type: gate
        left: '%payload.ref%'
        operator: ===
        right: refs/heads/changes
      - type: getPullRequest
        pullRequest: Changes
        action_id: metaPR2
      - type: getFileContents
        action_id: fileContents
        filename: 'src/App.jsx'
      - type: gate
        left: '/^\s*import\s*List\s*from\s*"\s*\.\/List\s*"\s*;\s*/gm'     
        operator: test
        right: '%actions.fileContents%'
        else:
          - type: respond
            with: 03_bad-import.md
            issue: Changes
      - type: createPullRequestComment
        body: 03_uncomment-assignments-activity.md
        file: src/App.jsx
        position: 46
        pullRequest: '%actions.metaPR2.data.number%'

  # Step 4: Add an assignments section by uncommenting
  - title: Uncomment assignments section
    description: Add the ability to create assignments
    event: push
    link: '{{ repoUrl }}/issues/2'
    video: https://www.youtube.com/embed/SrpOpss4Luw
    actions:
      - type: gate
        left: '%payload.ref%'
        operator: ===
        right: refs/heads/changes
      - type: getPullRequest
        pullRequest: Changes
        action_id: metaPR2
      - type: getFileContents
        action_id: fileContents
        filename: 'src/App.jsx'
      - type: gate
        left: '/^\s*if\s*\(\s*this.state.buttonClicked\s*===\s*"assignments"\)\s*{\s*\n.*\n.*\n.*\n.*\n.*\n.*\n.*\n.*\n.*}\s*\n/gm'     
        operator: test
        right: '%actions.fileContents%'
        else:
          - type: respond
            with: 04_bad-uncomment.md
            issue: Changes
      - type: createPullRequestComment
        body: 04_replace-title-activity.md
        file: src/List.jsx
        position: 5
        pullRequest: '%actions.metaPR2.data.number%'

  # Step 5: Replace the title prop
  - title: Replace the title prop
    description: Pass a title prop to the List child component
    event: push
    link: '{{ repoUrl }}/issues/2'
    video: https://www.youtube.com/embed/3wZV8nQoJQA
    actions:
      - type: gate
        left: '%payload.ref%'
        operator: ===
        right: refs/heads/changes
      - type: getPullRequest
        pullRequest: Changes
        action_id: metaPR2
      - type: getFileContents
        action_id: fileContents
        filename: 'src/List.jsx'
      - type: gate
        left: '/h2">\s*{\s*this\.props\.title\s*}\s*<\s*/gm'     
        operator: test
        right: '%actions.fileContents%'
        else:
          - type: respond
            with: 05_bad-prop.md
            issue: Changes
      - type: respond
        with: 05_state.md
        issue: Changes
      - type: createPullRequestComment
        body: 05_add-state-variable-activity.md
        file: src/App.jsx
        position: 12
        pullRequest: '%actions.metaPR2.data.number%'

  # Step 6: add a state variable
  - title: Add a state variable
    description: Add a students state variable to keep track of students
    event: push
    link: '{{ repoUrl }}/issues/2'
    video: https://www.youtube.com/embed/l3nf0C2Xil4
    actions:
      - type: gate
        left: '%payload.ref%'
        operator: ===
        right: refs/heads/changes
      - type: getPullRequest
        pullRequest: Changes
        action_id: metaPR2
      - type: getFileContents
        action_id: fileContents
        filename: 'src/App.jsx'
      - type: gate
        left: '/\s*students\s*:\s*\[\s*\]\s*,\s*/gm'     
        operator: test
        right: '%actions.fileContents%'
        else:
          - type: respond
            with: 06_bad-state.md
            issue: Changes
      - type: createPullRequestComment
        body: 06_explaining-this-state-activity.md
        file: src/App.jsx
        position: 32
        pullRequest: '%actions.metaPR2.data.number%'
      - type: createPullRequestComment
        body: 06_create-addstudent-activity.md
        file: src/App.jsx
        position: 38
        pullRequest: '%actions.metaPR2.data.number%'

  # Step 7: Create a method
  - title: Create a method
    description: Create a method to add students to our state
    event: push
    link: '{{ repoUrl }}/issues/2'
    video: https://www.youtube.com/embed/Rt9E3beRrOc
    actions:
      - type: gate
        left: '%payload.ref%'
        operator: ===
        right: refs/heads/changes
      - type: getPullRequest
        pullRequest: Changes
        action_id: metaPR2
      - type: getFileContents
        action_id: fileContents
        filename: 'src/App.jsx'
      - type: gate
        left: '/^\s*addStudent\s*\(\s*studentName\s*\)\s*/gm'     
        operator: test
        right: '%actions.fileContents%'
        else:
          - type: respond
            with: 07_bad-function.md
            issue: Changes
      - type: createPullRequestComment
        body: 07_bind-function-activity.md
        file: src/App.jsx
        position: 20
        pullRequest: '%actions.metaPR2.data.number%'

  # Step 8: Bind a method
  - title: Bind a method
    description: Bind the addStudents method to our class
    event: push
    link: '{{ repoUrl }}/issues/2'
    video: https://www.youtube.com/embed/sJJXnhLuo04
    actions:
      - type: gate
        left: '%payload.ref%'
        operator: ===
        right: refs/heads/changes
      - type: getPullRequest
        pullRequest: Changes
        action_id: metaPR2
      - type: getFileContents
        action_id: fileContents
        filename: 'src/App.jsx'
      - type: gate
        left: '/^\s*this\.addStudent\s*=\s*this\.addStudent\.bind\s*\(\s*this\s*\)\s*;\s*\n/gm'
        operator: test
        right: '%actions.fileContents%'
        else:
          - type: respond
            with: 04_bad-uncomment.md
            issue: Changes
      - type: respond
        with: 08_callbackfunctions.md
        issue: Changes
      - type: createPullRequestComment
        body: 08_passing-functions-activity.md
        file: src/App.jsx
        position: 52
        pullRequest: '%actions.metaPR2.data.number%'
      - type: createPullRequestComment
        body: 08_change-props-students-activity.md
        file: src/App.jsx
        position: 68
        pullRequest: '%actions.metaPR2.data.number%'

  # Step 9: Pass functions as props
  - title: Pass functions as props
    description: Learn how to pass data back to parent components
    event: push
    link: '{{ repoUrl }}/issues/2'
    video: https://www.youtube.com/embed/Rass5Io27r0
    actions:
      - type: gate
        left: '%payload.ref%'
        operator: ===
        right: refs/heads/changes
      - type: getPullRequest
        pullRequest: Changes
        action_id: metaPR2
      - type: getFileContents
        action_id: fileContents
        filename: 'src/App.jsx'
      - type: gate
        left: '/\s*placeholder\s*=\s*"Add\sStudent\.\.\."\s*\n\s*currList\s*=\s*{\s*this\.state\.students\s*}\n\s*addFunction\s*=\s*{\s*this\.addStudent\s*}\s*\n/gm'
        operator: test
        right: '%actions.fileContents%'
        else:
          - type: respond
            with: 09_bad-replace.md
            issue: Changes
      - type: createPullRequestComment
        body: 09_uncomment-grades-activity.md
        file: src/App.jsx
        position: 78
        pullRequest: '%actions.metaPR2.data.number%'

  # Step 10: Get approval
  - title: Get your pull request approved
    event: push
    description: Let's confirm you made the right changes
    video: https://www.youtube.com/embed/J6M-oi9-LVI
    actions:
      - type: gate
        left: '%payload.ref%'
        operator: ===
        right: refs/heads/changes
      - type: getFileContents
        action_id: fileContents
        filename: 'src/App.jsx'
      - type: gate
        left: '/^\s*if\s*\(\s*this.state.buttonClicked\s*===\s*"grades"\)\s*{\s*\n.*\n.*\n.*\n.*\n.*\n.*\n.*\n.*\n.*}\s*\n/gm'     
        operator: test
        right: '%actions.fileContents%'
        else:
          - type: respond
            with: 04_bad-uncomment.md
            issue: Changes
      - type: createReview
        event: APPROVE
        body: 10_approve.md
        pullRequest: Changes

  # Step 11: Merge pull request
  - title: Merge your pull request
    event: pull_request.closed
    description: Congrats on finishing the course!
    video: https://www.youtube.com/embed/uJGGBhdivYQ
    actions:
      - type: respond
        with: 11_congrats.md
        issue: Changes
    
